BODY {
	font-size: 12px;
	line-height: 20px;
	word-break:break-all;
	table-layout:fixed;
	SCROLLBAR-FACE-COLOR: #DDE1E6;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #79899D;
	SCROLLBAR-3DLIGHT-COLOR: #79899D;
	SCROLLBAR-ARROW-COLOR: #333333;
	SCROLLBAR-TRACK-COLOR: #EAEEEC;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
	font-family:"宋体";
}
BODY a:link {
	color: #006600;
	text-decoration:none;
}
BODY a:visited {
	color:#006600;
	TEXT-DECORATION:none;
}
BODY a:active {
	COLOR: #006600;
	TEXT-DECORATION:none;
}
BODY a:hover {
	COLOR: #cc0000;
	text-decoration:underline;
}
td{font-size: 12px;line-height:150%;word-break:break-all;TABLE-LAYOUT:fixed;}
.btn1{padding:0px;font-size:12px;}
textarea{
	font-size:12px;
	line-height:20px;
	color:#333;
}
.border{background:#99aabb;}
.tdbg{background:#fafafa;}
.topbg{
	background:url(../images/ad_topbg.gif);
	color: #000000;
	font-weight:bold;
	text-align:center;
}
.title{
	background:url(../images/ad_topbg.gif);
	color: #9F2911;
	font-weight:bold;
}
.title a:link {
	color:#9F2911;
	font-weight:normal;
}
.title a:visited {
	color:#9F2911;
	font-weight:normal;
}
.title a:active {
	color:#9F2911;
	font-weight:normal;
}
.title a:hover {
	color:#9F2911;
	font-weight:normal;
}

.color1{color:#990000;}
ul,li{margin:0px;padding:0px;list-style:none;}
.pagelist{height:40px;}
.pagelist ul{padding-left:300px;}
.pagelist li{float:left;}
.pagelist .current{padding:0px 10px;}
.pagelist a{padding:5px 10px;border:1px solid #cccccc;background-color:#f0f0f0}
.pagelist a:link,.pagelist a:visited{color:#f14100;font-size:12px;text-decoration:none;}
.pagelist a:hover{background:#f0f0f0;}
